
h1{
color: blue;/*让一级标题的文字颜色变成蓝色*/
}

h2{
font-size: 14px;/*二级标题的文字大小变成14px*/
}

P{
font-size: 12px;
color: yellow;
background-color: black;/*段落的文字大小变成12px，文字颜色是黄色，带一个黑色的背景色*/
}

img{
border: 2px solid red;/*图片有一个红色的，2px粗的边框*/
}
